.van-button {
  height: clamp(37.54667px, 11.73333vw, 70.4px);
}

.page .van-cell__title {
  padding: clamp(13.65333px, 4.26667vw, 25.6px);
}

.caravan-slot {
  height: clamp(18.77333px, 5.86667vw, 35.2px);
}

.page-hero {
  height: clamp(18.77333px, 5.86667vw, 35.2px);
}
